.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  
  display: flex;
  align-items: center;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper > a {
  display: block;
  width: 100%;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-slider-image-foreground-wrapper,
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper > a .sow-slider-foreground-image {
  display: block;
  line-height: 0;
  margin-right: auto;
  margin-left: auto;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base .sow-slider-pagination {
  text-align: center;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-a04976eef775-16 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}